body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fl-table {
  border-radius: 10px;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;    
  background-color: white;

}
.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table td, .fl-table th {
  text-align: center;
 
  padding: 8px;
}
.fl-table th {
  background-color:  #f5f2f2;
  font-size: 15px;
}
.fl-table tr:nth-child(even) {
  background: #f5f2f2;
}

/* forms */
input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #1089ff;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1089ff;
}

.submit {
  width: 100%;
  background-color: #1089ff;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 70px;
}
input[type=reset] {
  width: 100%;
  background-color: #1089ff;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #050c0f;
}


.design {
  margin: 10px 70px 70px;
  background-color: #f2f2f2;
  padding: 8px;
}

.button-delete {
 
  background-color: #458ba0;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

/* Ajoutez ces styles dans votre fichier CSS ou dans le style en ligne */

.btn-supprimer {
  border-radius: 4px;
  padding: 10px;
  color: #dc3545; /* Couleur du texte blanc */
  border: none; /* Supprimer la bordure du bouton */

  margin-right: 5px; /* Marge à droite pour espacement */
}

.btn-modifier {
  border-radius: 4px;
  padding: 10px;
  color: #007bff; /* Couleur du texte blanc */
  border: none; /* Supprimer la bordure du bouton */
  cursor: pointer; /* Curseur pointer au survol */
}
